@import url(https://fonts.googleapis.com/css?family=Ralevay|Fredericka+the+Great|Abril+Fatface|Kaushan+Script);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: none;
}

body {
  font-family: "Raleway", sans-serif;
}

.banner {
  background-image: url(/online-order-pizza/pic/banner-pizza.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner--info {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner--info h1 {
  font-family: "Fredericka the Great", cursive;
  color: white;
  font-size: calc(3.125vw + 40px);
  text-shadow: 1px 1px 10px #000;
  opacity: 0.9;
}

@media (max-width: 320px) {
  .banner--info h1 {
    font-size: 50px;
  }
}

@media (min-width: 1920px) {
  .banner--info h1 {
    font-size: 100px;
  }
}

.banner--info h2 {
  font-family: "Abril Fatface", cursive;
  color: #e9b300;
  font-size: calc(1.875vw + 19px);
  margin-top: 10px;
  text-shadow: 0.5px 0.5px 5px black;
}

@media (max-width: 320px) {
  .banner--info h2 {
    font-size: 25px;
  }
}

@media (min-width: 1920px) {
  .banner--info h2 {
    font-size: 55px;
  }
}

.banner--info button {
  margin-top: 50px;
  width: 180px;
  height: 45px;
  background-color: #e9b300;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1.2px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  -webkit-box-shadow: 0px 0px 18px 0px #2c2c2c;
          box-shadow: 0px 0px 18px 0px #2c2c2c;
  outline: none;
}

.navbar--list__link {
  padding-right: 20px;
  color: white;
  margin-right: 30px;
  border-bottom: 2px solid transparent;
  padding-right: 0px;
  padding-bottom: 4px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.7px;
  font-size: 15px;
}

.navbar--list__link:after {
  position: absolute;
  content: '';
  width: 0px;
  left: 0;
  bottom: 0;
  border-bottom: solid 3px #e9b300;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 1;
}

.navbar--list__link:hover:after {
  width: 100%;
}

#navbar--toggle {
  cursor: pointer;
  color: #2c2c2c;
  font-size: 24px;
  line-height: 57px;
  margin-right: 35px;
}

#navbar--toggle:hover {
  color: #2c2c2c;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  background-color: #191919;
  -webkit-box-shadow: 0 0 10px 0px black;
          box-shadow: 0 0 10px 0px black;
  position: relative;
  z-index: 10;
  min-height: 70px;
}

#navbar--list {
  list-style-type: none;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: capitalize;
}

.navbar--logo {
  display: inline-block;
  line-height: 56px;
  font-family: "Kaushan Script", cursive;
  font-size: 29px;
  margin-left: 55px;
  color: #d45c15;
  text-decoration: none;
  text-transform: capitalize;
}

#navbar--list li {
  height: 45px;
  line-height: 45px;
}

@media screen and (min-width: 999px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar--list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #navbar--list li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  #logo {
    margin-top: 0;
  }
  #navbar--toggle {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  #navbar--list {
    width: 100%;
    padding: 0px 0px 20px 70px;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar--row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
  }
}

@media only screen and (max-width: 290px) {
  .navbar--logo {
    margin-left: 35px;
  }
  #navbar--list {
    width: 100%;
    padding: 0px 0px 0px 25px;
  }
}

.about {
  min-height: 700px;
  background-image: url(/online-order-pizza/pic/black-background.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: white;
  -webkit-box-shadow: 0 0 10px 0px black;
          box-shadow: 0 0 10px 0px black;
  position: relative;
  z-index: -1;
  font-size: calc(0.1875vw + 12.4px);
}

@media (max-width: 320px) {
  .about {
    font-size: 13px;
  }
}

@media (min-width: 1920px) {
  .about {
    font-size: 16px;
  }
}

.about--info {
  min-height: 700px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1100px;
  text-align: center;
  margin: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info--title {
  font-family: 'Abril Fatface', cursive;
  color: #e9b300;
  font-size: calc(0.5625vw + 16.2px);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 320px) {
  .info--title {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  .info--title {
    font-size: 27px;
  }
}

@media screen and (max-width: 800px) {
  .info--title {
    margin-top: 80px;
  }
}

.info--title__header {
  max-width: 1000px;
}

.info--text {
  margin-top: 20px;
  margin-bottom: 70px;
  line-height: 24px;
  padding: 0 80px;
}

@media screen and (max-width: 800px) {
  .info--text {
    padding: 0;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info--column {
  max-width: 350px;
  text-align: left;
  line-height: 23px;
  margin-right: 25px;
}

@media screen and (max-width: 800px) {
  .info--column {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 100%;
  }
}

.info--column:last-child {
  margin-right: 0px;
}

.info--column__title {
  font-family: "Abril Fatface", cursive;
  margin-bottom: 20px;
  color: #e9b300;
  text-transform: capitalize;
  font-size: 19px;
}

.info--column__pic {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.info--column__text {
  margin-bottom: 20px;
}

.fas,
.fab,
.far {
  color: #d45c15;
}

.footer {
  width: 100%;
  min-height: 400px;
  background-image: url(/online-order-pizza/pic/black-background.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 10px 0px black;
          box-shadow: 0 0 10px 0px black;
  position: relative;
  z-index: 10;
}

.footer--contact {
  font-family: "Fredericka the Great", cursive;
  color: #e9b300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer--contact h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(1.5625vw + 30px);
  text-transform: uppercase;
}

@media (max-width: 320px) {
  .footer--contact h1 {
    font-size: 35px;
  }
}

@media (min-width: 1920px) {
  .footer--contact h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 650px) {
  .footer--contact h1 {
    margin-top: 30px;
  }
}

.footer--contact h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(0.9375vw + 17px);
  letter-spacing: 1.5px;
}

@media (max-width: 320px) {
  .footer--contact h2 {
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  .footer--contact h2 {
    font-size: 35px;
  }
}

.footer--line {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Fredericka the Great", cursive;
  color: white;
  font-size: 16px;
}

.line--block {
  width: 80px;
  position: relative;
}

.line--block:after {
  position: absolute;
  margin-top: 20px;
  content: "";
  border-bottom: 1px solid #fff;
  width: 100%;
}

.line--radius {
  margin: 0px 30px;
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line--radius h1 {
  margin: 0px;
  padding: 0px;
}

.footer--social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 650px) {
  .footer--social-media {
    margin-bottom: 30px;
  }
}

.footer--social-media ul {
  font-family: "Fredericka the Great", cursive;
  color: white;
  font-size: calc(0.9375vw + 17px);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 320px) {
  .footer--social-media ul {
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  .footer--social-media ul {
    font-size: 35px;
  }
}

@media screen and (max-width: 650px) {
  .footer--social-media ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer--social-media ul li {
  margin-right: 40px;
}

.footer--social-media ul li:nth-child(1) a:hover {
  color: #3b5999;
}

.footer--social-media ul li:nth-child(2) a:hover {
  color: #55acee;
}

.footer--social-media ul li:nth-child(3) a:hover {
  color: #e4405f;
}

.footer--social-media ul li:nth-child(4) a:hover {
  color: #bd081c;
}

.footer--social-media ul li:nth-child(5) a:hover {
  color: #ff0084;
}

@media screen and (max-width: 650px) {
  .footer--social-media ul li {
    margin: 10px 0;
  }
}

.footer--social-media ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer--social-media ul li:last-child {
  margin-right: 0px;
}

.ingridients {
  width: 100%;
  background-image: url(/online-order-pizza/pic/vegetables-background.png);
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .ingridients {
    height: 1000px;
    min-heigh: none;
  }
}

.ingridients--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1030px;
}

@media screen and (max-width: 600px) {
  .ingridients--row {
    height: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ingridients--row__pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

@media screen and (max-width: 600px) {
  .ingridients--row__pair {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1016px) {
  .ingridients--row__pair:first-child {
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 600px) {
  .ingridients--row__pair:first-child {
    margin-bottom: 0;
  }
}

.ingridients--row__pair:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 600px) {
  .ingridients--row__pair:last-child {
    margin: none;
  }
}

.ingridients--row__element {
  margin-right: 50px;
  text-align: center;
  border: 3px solid #dda126;
  border-radius: 50%;
  display: inline-block;
  min-width: 120px;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 560px) {
  .ingridients--row__element {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .ingridients--row__element {
    margin: 0 0 40px 0;
  }
}

.ingridients--row__element h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 60px;
  color: white;
}

.ingridients--row__element p {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.ingridients--row__element:last-child {
  margin-right: 0px;
}

.build-pizza {
  width: 100%;
  min-height: 800px;
  background-image: url(/online-order-pizza/pic/black-background.png);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 10px 0px black;
          box-shadow: 0 0 10px 0px black;
  position: relative;
  z-index: 100;
}

.build-pizza button {
  width: 180px;
  margin-top: 70px;
  height: 35px;
  text-transform: uppercase;
  background-color: #e9b300;
  color: #2c2c2c;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 70px;
}

.build-pizza button a {
  text-decoration: none;
}

.build-pizza--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 900px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 70px;
}

.build-pizza--title h1 {
  font-family: "Abril Fatface", cursive;
  color: #e9b300;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 30px;
  padding: 0px 20px;
}

.build-pizza--title p {
  padding: 0 50px;
}

.ingridients--list {
  width: 100%;
  min-height: 90px;
  border-bottom: 1px solid #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.build-pizza--ingridients {
  width: 85vw;
  max-width: 900px;
}

.ingridients--list:first-child {
  border-top: 1px solid #272727;
}

.list--up__btn {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.list--up__btn .fas {
  color: white;
}

.ingridients--list__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.list--up__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  line-height: 90px;
  padding: 0 30px 0 0;
}

@media screen and (max-width: 368px) {
  .list--up__title {
    line-height: normal;
  }
}

.list--up__title h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: calc(0.3125vw + 29px);
  color: #d45c15;
  margin-right: 20px;
}

@media (max-width: 320px) {
  .list--up__title h1 {
    font-size: 30px;
  }
}

@media (min-width: 1920px) {
  .list--up__title h1 {
    font-size: 35px;
  }
}

.list--up__title h2 {
  font-family: "Abril Fatface", cursive;
  color: #e9b300;
  font-size: calc(0.1875vw + 17.4px);
  letter-spacing: 1px;
}

@media (max-width: 320px) {
  .list--up__title h2 {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  .list--up__title h2 {
    font-size: 21px;
  }
}

.ingridients--list__down {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 770px) {
  .ingridients--list__down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ingridients--list__down-hide {
  -webkit-transition: opacity 1.5s ease-out;
  transition: opacity 1.5s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.down--pic {
  border: 3px solid #d45c15;
  padding: 20px;
}

@media screen and (max-width: 770px) {
  .down--pic {
    margin-bottom: 20px;
  }
}

.down--pic img {
  width: 280px;
  height: auto;
}

@media screen and (max-width: 770px) {
  .down--pic img {
    width: 100%;
  }
}

.down--text {
  margin-left: 20px;
  margin-right: 20px;
}

.down--text p {
  font-size: 16px;
}

.down--text ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.down--text ul li {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #d45c15;
}

.newsletter {
  position: relative;
  height: 300px;
  background-image: url(/online-order-pizza/pic/food.png);
}

.newsletter--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 100%;
}

.newsletter--text__heading {
  font-family: "Abril Fatface", cursive;
  font-size: calc(1.0625vw + 8.6px);
  margin-bottom: 20px;
}

@media (max-width: 320px) {
  .newsletter--text__heading {
    font-size: 12px;
  }
}

@media (min-width: 1920px) {
  .newsletter--text__heading {
    font-size: 29px;
  }
}

@media screen and (max-width: 440px) {
  .newsletter--text__send-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
}

.newsletter--text__heading {
  text-align: center;
}

.send-box--input {
  background-color: transparent;
  border: 1px solid #2c2c2c;
  width: 250px;
  height: 41px;
  padding: 0px 10px;
  margin-right: 10px;
}

@media screen and (max-width: 440px) {
  .send-box--input {
    margin: 0 0 10px 0;
    width: 100%;
  }
}

.send-box--input::-webkit-input-placeholder {
  color: #2c2c2c;
}

.send-box--input:-ms-input-placeholder {
  color: #2c2c2c;
}

.send-box--input::-ms-input-placeholder {
  color: #2c2c2c;
}

.send-box--input::placeholder {
  color: #2c2c2c;
}

.send-box--button {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #2c2c2c;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.opinions {
  width: 100%;
  min-height: 800px;
  background-image: url(/online-order-pizza/pic/black-background.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-shadow: 0 0 10px 0px black;
          box-shadow: 0 0 10px 0px black;
  position: relative;
  z-index: 10;
}

.opinions--elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 800px;
  width: 100%;
}

.opinions--elements__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1000px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opinions--elements__header {
  text-align: center;
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .opinions--elements__header {
    margin-top: 70px;
  }
}

.opinions--elements__header h1 {
  font-family: "Abril Fatface", cursive;
  color: #e9b300;
  margin-bottom: 30px;
  font-size: calc(1.5625vw + 20px);
  padding: 0 30px;
}

@media (max-width: 320px) {
  .opinions--elements__header h1 {
    font-size: 25px;
  }
}

@media (min-width: 1920px) {
  .opinions--elements__header h1 {
    font-size: 50px;
  }
}

.opinions--elements__header p {
  font-size: calc(0.1875vw + 12.4px);
  width: 90vw;
  max-width: 700px;
  padding: 0 30px;
}

@media (max-width: 320px) {
  .opinions--elements__header p {
    font-size: 13px;
  }
}

@media (min-width: 1920px) {
  .opinions--elements__header p {
    font-size: 16px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .content {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px;
  }
}

@media screen and (max-width: 400px) {
  .content {
    padding: 0;
  }
}

.content img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.content p {
  font-family: "Abril Fatface", cursive;
  color: #e9b300;
  margin-bottom: 10px;
  font-size: 21px;
}

.content:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 1000px) {
  .content:last-child {
    margin-bottom: 50px;
  }
}

.content--stars {
  margin-bottom: 20px;
}

.content--opinion {
  border: 3px solid #d45c15;
  width: 300px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 30px;
  text-align: center;
  position: relative;
}

.content--opinion p {
  color: white;
  font-size: 21px;
}

.content--opinion:after,
.content--opinion:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.content--opinion:after {
  border-color: rgba(46, 44, 44, 0);
  border-bottom-color: #131313;
  border-width: 10px;
  margin-left: -10px;
}

.content--opinion:before {
  border-color: rgba(34, 22, 4, 0);
  border-bottom-color: #d45c15;
  border-width: 15px;
  margin-left: -15px;
}

.content--person {
  margin-top: 20px;
}

.content--person p {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.recommend {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-image: url(/online-order-pizza/pic/gray-bg.png);
}

@media screen and (max-width: 1000px) {
  .recommend {
    min-height: 400px;
    height: auto;
  }
}

.recommend--elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .recommend--elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recommend--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .recommend--text {
    margin-top: 70px;
  }
}

.recommend--text p {
  max-width: 500px;
  line-height: 25px;
  text-align: center;
  font-size: calc(0.1875vw + 12.4px);
}

@media (max-width: 320px) {
  .recommend--text p {
    font-size: 13px;
  }
}

@media (min-width: 1920px) {
  .recommend--text p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .recommend--text p {
    max-width: 800px;
    padding: 0 50px;
  }
}

.recommend--text img {
  margin-top: 30px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

@media screen and (max-width: 1000px) {
  .recommend--pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 505px;
  }
}

.recommend--pic img {
  z-index: 99;
  top: -72px;
  display: block;
  position: relative;
  max-width: 400px;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .recommend--pic img {
    top: 0;
    margin: 30px 0 0 0;
  }
}

@media screen and (max-width: 417px) {
  .recommend--pic img {
    top: 0;
    margin: 30px 0 0 0;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.banner-pizza-builder {
  width: 100%;
  height: 300px;
  background-image: url(/online-order-pizza/pic/food-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-pizza-builder h1 {
  font-family: "Fredericka the Great", cursive;
  color: white;
  font-size: calc(0.625vw + 48px);
  text-transform: capitalize;
  margin-bottom: 20px;
}

@media (max-width: 320px) {
  .banner-pizza-builder h1 {
    font-size: 50px;
  }
}

@media (min-width: 1920px) {
  .banner-pizza-builder h1 {
    font-size: 60px;
  }
}

.banner-pizza-builder--breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.banner-pizza-builder--breadcrumb ul {
  width: 190px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #e9b300;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
}

.banner-pizza-builder--breadcrumb ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #e9b300;
}

.build-pizza--ingridients-custom {
  padding-top: 80px;
  padding-bottom: 80px;
}

.down--sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.down--sizes__element {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.down--sizes__element:hover .element {
  border: 3px solid #d45c15;
}

.down--sizes__element:hover p {
  color: #d45c15;
}

.element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 20px;
}

.element-1 {
  width: 80px;
  height: 80px;
}

.element-2 {
  width: 90px;
  height: 90px;
}

.element-3 {
  width: 100px;
  height: 100px;
}

.element-4 {
  width: 110px;
  height: 110px;
}

.element-5 {
  width: 120px;
  height: 120px;
}

.down--ingridients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.down--ingridients__sauce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  margin-bottom: 20px;
  cursor: pointer;
  max-height: 242px;
}

.down--ingridients__sauce .fa-check-circle {
  top: 9px;
  position: relative;
  z-index: 999;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.down--ingridients__sauce .fa-check-circle:after {
  content: "";
  z-index: -10;
  position: absolute;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: white;
}

.down--ingridients__sauce img {
  width: 130px;
  height: 130px;
}

.down--ingridients__sauce h2 {
  font-family: "Abril Fatface", cursive;
  color: #e9b300;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.down--ingridients__sauce p {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  text-align: center;
}

.price h2 {
  margin: 0px;
  color: #d45c15;
}

.pizza-menu {
  width: 100%;
  min-height: 800px;
  background-image: url(/online-order-pizza/pic/black-background.png);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 10px 0px black;
          box-shadow: 0 0 10px 0px black;
}

.pizza-menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pizza-menu--list__line {
  max-width: 880px;
  width: 90vw;
  height: 3px;
  background-color: #d45c15;
  margin: 60px 0;
}

.pizza-menu--list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  padding: 20px 0;
  margin: 10px;
  cursor: pointer;
  border: 3px solid transparent;
}

.pizza-menu--list__item:hover {
  border: 3px solid #e9b300;
}

.pizza-menu--list__item img {
  width: 130px;
  height: 130px;
}

.pizza-menu--list__item h2 {
  font-family: "Abril Fatface", cursive;
  color: #e9b300;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.pizza-menu--list__item p {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  text-align: center;
  width: 190px;
}

.price h2 {
  margin: 0px;
  color: #d45c15;
}

.item--size-to-order__hide {
  width: 175px;
  height: 35px;
}

.item--size-to-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  display: none;
}

.item--size-to-order select {
  background-color: transparent;
  color: white;
  text-transform: capitalize;
  width: 100px;
  height: 25px;
  padding: 0 0 0 5px;
  cursor: pointer;
}

.item--size-to-order select option {
  background-color: #2c2c2c;
  cursor: pointer;
}

.item--size-to-order button {
  text-transform: uppercase;
  width: 70px;
  height: 25px;
  margin-left: 5px;
  background-color: #e9b300;
  border: none;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.checkout {
  width: 100%;
  background-image: url(/online-order-pizza/pic/black-background.png);
  min-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout--side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1060px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-intems: center;
  padding: 70px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.checkout--side__billing-details {
  width: 650px;
  margin-right: 30px;
}

@media screen and (max-width: 1056px) {
  .checkout--side__billing-details {
    margin: 0;
    width: 100%;
  }
}

.checkout--side__billing-details h1 {
  font-family: "Abril Fatface", cursive;
  color: #e9b300;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 30px;
}

.checkout--side__billing-details label {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.checkout--side__billing-details form {
  width: 100%;
  margin-bottom: 40px;
}

.checkout--side__billing-details form input {
  background-color: transparent;
  border-color: white;
  height: 35px;
  color: white;
  padding: 0 10px;
  margin-top: 10px;
}

.checkout--side__billing-details form input:focus {
  outline: none;
  border: 2px solid #e9b300;
}

.checkout--side__billing-details form input::-webkit-input-placeholder {
  color: #666666;
  text-transform: capitalize;
}

.checkout--side__billing-details form input:-ms-input-placeholder {
  color: #666666;
  text-transform: capitalize;
}

.checkout--side__billing-details form input::-ms-input-placeholder {
  color: #666666;
  text-transform: capitalize;
}

.checkout--side__billing-details form input::placeholder {
  color: #666666;
  text-transform: capitalize;
}

.checkout--side__billing-details form select {
  background-color: transparent;
  border-color: white;
  height: 35px;
  color: white;
  padding: 0 10px;
  margin-top: 10px;
}

.checkout--side__billing-details form select:focus {
  outline: none;
  border: 2px solid #e9b300;
}

.checkout--side__billing-details form select option {
  background-color: #2c2c2c;
}

.checkout--side__billing-details form select option:first-child {
  color: #666666;
}

.checkout--side__billing-details form textarea {
  width: 100%;
  height: 100px;
  background-color: transparent;
  border: 2px solid white;
  resize: none;
  padding: 10px 10px;
  color: white;
  margin-top: 10px;
}

.checkout--side__billing-details form textarea:focus {
  outline: none;
  border: 2px solid #e9b300;
}

.checkout--side__billing-details form textarea::-webkit-input-placeholder {
  color: #666666;
  font-family: "Raleway", sans-serif;
}

.checkout--side__billing-details form textarea:-ms-input-placeholder {
  color: #666666;
  font-family: "Raleway", sans-serif;
}

.checkout--side__billing-details form textarea::-ms-input-placeholder {
  color: #666666;
  font-family: "Raleway", sans-serif;
}

.checkout--side__billing-details form textarea::placeholder {
  color: #666666;
  font-family: "Raleway", sans-serif;
}

.full-inputs {
  width: 100%;
  margin-bottom: 20px;
}

.half-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.half-inputs--element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

.checkbox-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 35px;
}

.checkbox-element label {
  text-transform: capitalize;
  color: white;
}

.checkbox-element input {
  margin-right: 10px;
  background-color: transparent;
  border: 2px solid white;
}

.checkbox-shipp {
  margin-bottom: 20px;
  margin-top: -10px;
}

#create-account {
  margin: 0 10px 0 0;
}

.shipping-address-h1 {
  margin-top: 50px;
}

.checkout--side__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 20px;
  height: 620px;
}

@media screen and (max-width: 1056px) {
  .checkout--side__order {
    width: 100%;
  }
}

.checkout--side__order h1 {
  font-family: "Abril Fatface", cursive;
  color: #e9b300;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 30px;
}

.checkout--side__order p {
  color: white;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 13px;
}

.checkout--side__order form {
  color: white;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.checkout--side__order form input {
  margin: 0 10px 10px 0;
}

.checkout--side__order form a {
  color: #d45c15;
  text-decoration: none;
  padding-left: 27px;
}

.checkout--side__order input[type=submit] {
  width: 100%;
  margin-top: 20px;
  height: 35px;
  text-transform: uppercase;
  background-color: #e9b300;
  color: #2c2c2c;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
}

.order--products-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order--products-list {
  border-top: 2px solid #2c2c2c;
  border-bottom: 2px solid #2c2c2c;
  padding: 10px 0;
  margin: 10px 0;
}

.order--products-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item--item-with-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item--item-with-amount p {
  text-transform: capitalize;
}

.item--item-with-amount p:last-child {
  color: #d45c15;
  text-transform: none;
}

.order-products-price {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
  font-family: "Abril Fatface", cursive;
  color: #d45c15;
}

.login {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-image: url(/online-order-pizza/pic/food.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: colum;
          flex-direction: colum;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login--form {
  width: 500px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  margin: 0 40px;
}

.login--form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login--form form label {
  color: white;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.login--form form input {
  background-color: transparent;
  border: 2px solid white;
  margin-bottom: 20px;
  height: 40px;
  padding: 0 10px;
  outline: none;
  color: white;
}

.login--form form input[type=submit] {
  text-transform: uppercase;
  width: 100%;
  height: 45px;
  background-color: #e9b300;
  border: none;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  margin: 20px 0 0 0;
}
/*# sourceMappingURL=style.css.map */
