$font-color: rgb(255, 255, 255);
$red-color: rgb(221, 38, 38);
$dark-color: rgb(44, 44, 44);

// font-family: 'Abril Fatface', cursive;

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

.banner {
    background-image: url(pic/banner-pizza.jpg);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner--info {
    width: 900px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    h1 {
        font-family: 'Fredericka the Great', cursive;
        color: $font-color;
        font-size: 95px;
        text-shadow: 1px 1px 10px black;
        opacity: 0.9;
    }

    h2 {
        font-family: 'Abril Fatface', cursive;
        color: $red-color;
        font-size: 45px;
        opacity: 0.9;
        margin-top: 10px;
        text-shadow: 0.5px 0.5px 5px black;
    }

    button {
        margin-top: 50px;
        width: 160px;
        height: 35px;
        background-color: transparent;
        border-color: $red-color;
        color: $red-color;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        letter-spacing: 0.5px;
    }

    button:hover {
        background-color: $red-color;
        color: white;
    }
}

// navigation
.navbar--list__link {
    padding-right: 20px;
    color: $dark-color;
    margin-right: 56px;
    border-bottom: 2px solid transparent;
    padding-right: 0px;
    padding-bottom: 4px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.7px;
}

.navbar--list__link:after {
    position: absolute;
    content: '';
    width: 0px;
    left: 0;
    bottom: 0;
    border-bottom: solid 3px $red-color;
    transition: all 300ms ease-in-out;
    opacity: 1;
}

.navbar--list__link:hover:after {
    width: 100%;
}

#navbar--toggle {
    cursor: pointer;
    color: $dark-color;
    font-size: 24px;
    line-height: 57px;
    margin-right: 35px;
}

#navbar--toggle:hover {
    color: $dark-color;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    background-color: white;
}



#navbar--list {
    list-style-type: none;
    display: none;
    flex-direction: column;
    text-transform: capitalize;
}

.navbar--logo {
    display: inline-block;
    line-height: 56px;
    font-family: 'Kaushan Script', cursive;
    font-size: 29px;
    margin-left: 55px;
    color: $red-color;
    text-decoration: none;
    text-transform: capitalize;
}

#navbar--list li {
    height: 45px;
    line-height: 45px;
}

@media screen and (min-width: 1310px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    #navbar--list {
        display: flex !important;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    #navbar--list li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    #logo {
        margin-top: 0;
    }

    #navbar--toggle {
        display: none;
    }
}

@media screen and (max-width: 1309px) {
    #navbar--list {
        width: 100%;
        padding: 0px 0px 0px 50px;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar--row {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}


@media only screen and (max-width: 290px) {
    .navbar--logo {
        margin-left: 35px;
    }

    #navbar--list {
        width: 100%;
        padding: 0px 0px 0px 25px;
    }
}

//about
.about{ 
    height: 800px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.about--info{
    justify-content: center;
    width: 1200px;
    text-align: center;
}

.info--title{
    margin-top: 150px;
    font-family: 'Abril Fatface', cursive;
    color: $red-color;
    font-size: 27px;
}
.info--text{
    margin-top: 20px;
    margin-bottom: 70px;
    line-height: 24px;
}

//about column

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info--column{
    width: 350px;
    text-align: left;
    line-height: 23px;
}

.info--column__title{
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 20px;
    color: $red-color;
    text-transform: capitalize;
    font-size: 19px;
}

.info--column__pic{
    margin-bottom: 20px;
    text-transform: capitalize;
}

.info--column__text{
    margin-bottom: 20px;
}

//icons

.fas, .fab{
    color: $dark-color;
}