// === COLORS ===
$font-color: rgb(255, 255, 255);
$red-color: rgba(233, 179, 0, 1);
$red-second: rgba(212, 92, 21, 1);
$dark-color: rgb(44, 44, 44);
$bcg-color-light: #fff;

// === FONTS ===
$default-font: 'Raleway', sans-serif;
$baner-font: 'Fredericka the Great',cursive;
$headline-font: 'Abril Fatface',cursive;
$logo-font: 'Kaushan Script',cursive;

// === SIZES ===
$content-width: 1200px;